<%= image_tag @playlist["images"][0]["url"], width: 100, height: 100 %>
<h1><%= @playlist["name"] %></h1>
<p><%= @playlist["description"] %></p>

<ul>
  <% @playlist["tracks"]["items"].each do |track| %>
    <li>
      <%= image_tag track["track"]["album"]["images"][0]["url"], width: 50, height: 50 %>
      <p><%= track["track"]["name"] %> - <%= track["track"]["artists"].map { |artist| artist["name"] }.join(", ") %></p>
      <p>Duration: <%= time_as_str(track["track"]["duration_ms"]) %></p>
      <p>Release date: <%= release_date_format(track["track"]["album"]["release_date"], track["track"]["album"]["release_date_precision"]) %></p>
    </li>
  <% end %>
</ul>
